<!-- 1st Hero Variation -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row justify-content-center text-center mb-lg">
      <div class="col-lg-8">
        <h2 class="display-3">Nuestras labores no solo se quedan en la oficina</h2>
        <p class="lead text-muted">Te acompañamos de inicio a fin para que seas la empresa líder de tu sector, enriqueciendo la gestión de tu talento humano a través de charlas gratuitas empresariales.</p>
        <div class="btn-wrapper mt-5 row align-items-center justify-content-center mb-2">
          <a href="https://okempleos.com/eventos/" target="_blank" class="btn btn-lg btn-danger btn-icon mb-3 mb-sm-0">
            <span class="btn-inner--icon"><i class="ni"></i></span>
            <span class="btn-inner--text">REGISTRARME A LAS FERIAS</span>
          </a>                
        </div>  
      </div>      
                   <!-- Sección del video -->
                   <div class="col-lg-10 mb-lg-auto p-5">
                    <div class="rounded shadow-lg overflow-hidden">
                      <div class="image-video-wrp">                    
                   <video src="./assets/video/video.mp4" width="100%" height="100%" autoplay [muted]="'muted'" loop></video>
                    </div>
                    </div>
                  </div>  
        <div class="col-lg-8">
          <h2 class="display-3">Nuestros canales de atracción empiezan aquí:</h2>          
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="./assets/img/brand/feria1.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Feria Candelaria</span>
              <small class="h6 text-muted">01-11-2021</small>
            </h5>
            <div class="mt-3">
              <a href="https://twitter.com/ok_empleos" target="blank" class="btn btn-warning btn-icon-only rounded-circle">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/OkEmpleosColombia" target="blank" class="btn btn-warning btn-icon-only rounded-circle">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.tiktok.com/@en.modo.ok?" target="blank" class="btn btn-warning btn-icon-only rounded-circle">
                <i class="bi bi-tiktok"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="./assets/img/brand/feria2.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Ciudad Bolivar</span>
              <small class="h6 text-muted">12-06-2021</small>
            </h5>
            <div class="mt-3">
              <a href="https://twitter.com/ok_empleos" target="blank" class="btn btn-primary btn-icon-only rounded-circle">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/OkEmpleosColombia" target="blank" class="btn btn-primary btn-icon-only rounded-circle">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.tiktok.com/@en.modo.ok?" target="blank" class="btn btn-primary btn-icon-only rounded-circle">
                <i class="bi bi-tiktok"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="./assets/img/brand/feria3.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Feria Engativa</span>
              <small class="h6 text-muted">01-12-2021</small>
            </h5>
            <div class="mt-3">
              <a href="https://twitter.com/ok_empleos" target="blank" class="btn btn-info btn-icon-only rounded-circle">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/OkEmpleosColombia" target="blank" class="btn btn-info btn-icon-only rounded-circle">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.tiktok.com/@en.modo.ok?" target="blank" class="btn btn-info btn-icon-only rounded-circle">
                <i class="bi bi-tiktok"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="./assets/img/brand/feria4.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Feria Suba</span>
              <small class="h6 text-muted">15-01-2022</small>
            </h5>
            <div class="mt-3">
              <a href="https://twitter.com/ok_empleos" target="blank" class="btn btn-success btn-icon-only rounded-circle">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/OkEmpleosColombia" target="blank" class="btn btn-success btn-icon-only rounded-circle">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.tiktok.com/@en.modo.ok?" target="blank" class="btn btn-success btn-icon-only rounded-circle">
                <i class="bi bi-tiktok"></i>
              </a>
            </div>
          </div>
        </div>
      </div>         
    </div>
    <div class="btn-wrapper mt-5 row align-items-center justify-content-center mb-5">
      <a style="text-decoration: none; color: white;" (click)="open(classic2, 'Notification', '')" class="btn btn-lg btn-danger btn-icon mb-3 mb-sm-0">
        <span class="btn-inner--icon"><i class="ni"></i></span>
        <span class="btn-inner--text">VER PRÓXIMAS FERIAS</span>
      </a>  
      
      <div>         
        <ng-template #classic2 let-c="close" let-d="dismiss">
          <ul>                  
            <li>    
              <div class="date">
                <h3>Abril<br><span>7</span></h3>
              </div>
              <a (click)="open(classic3, 'Notification', '')">
                <p>Habilidades blandas, el mejor indicador para la selección de talento humano.</p>
              </a>

              <ng-template #classic3 let-c="close" let-d="dismiss">
                <div style="width: 700px;" class="modal-content bg-gradient-danger">
                  <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification">Habilidades blandas, el mejor indicador para la selección de talento humano</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="py-3 text-center">
                      <i class="bi bi-youtube ni-3x"></i>
                      <h4 class="heading mt-4">¡No te pierdas esta y muchas más charlas!</h4>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/pneLydF2YhU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="https://www.youtube.com/channel/UCbTDJAWM-3H-aZr-7F_6aBA" target="_blank">
                    <button type="button" class="btn btn-white">¡Abrir Canal!</button>
                  </a>
                    <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Cerrar</button>
                  </div>
                </div>
              </ng-template>
            </li>
            <li>    
              <div class="date">
                <h3>Marzo<br><span>24</span></h3>
              </div>
              <a (click)="open(classic4, 'Notification', '')">
                <p>Optimización digital para las compañías.</p>
              </a>
              <ng-template #classic4 let-c="close" let-d="dismiss">
                <div style="width: 700px;" class="modal-content bg-gradient-danger">
                  <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification">Optimización digital para las compañías.</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="py-3 text-center">
                      <i class="bi bi-youtube ni-3x"></i>
                      <h4 class="heading mt-4">¡No te pierdas esta y muchas más charlas!</h4>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/fyX-ZfbG1lA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="https://www.youtube.com/channel/UCbTDJAWM-3H-aZr-7F_6aBA" target="_blank">
                    <button type="button" class="btn btn-white">¡Abrir Canal!</button>
                  </a>
                    <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Cerrar</button>
                  </div>
                </div>
              </ng-template>
            </li>
            <li>    
              <div class="date">
                <h3>Marzo<br><span>10</span></h3>
              </div>
              <a (click)="open(classic5, 'Notification', '')">
                <p>Hábitos Saludables de vida desde la oficina.</p>
              </a>
              <ng-template #classic5 let-c="close" let-d="dismiss">
                <div style="width: 700px;" class="modal-content bg-gradient-danger">
                  <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification">Hábitos Saludables de vida desde la oficina.</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="py-3 text-center">
                      <i class="bi bi-youtube ni-3x"></i>
                      <h4 class="heading mt-4">¡No te pierdas esta y muchas más charlas!</h4>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/UHjUk6xnvuU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="https://www.youtube.com/channel/UCbTDJAWM-3H-aZr-7F_6aBA" target="_blank">
                    <button type="button" class="btn btn-white">¡Abrir Canal!</button>
                  </a>
                    <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Cerrar</button>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </ng-template>
      </div>
      



    </div>  
    <div class="text-center">      
      <p class="lead text-muted">Recuerda publicar o actualizar tus vacantes en <span><a href="https://okempleos.com/" target="_blank">www.okempleos.com</a></span></p>   
    </div> 
  </div>
     <!-- SVG separator -->
     <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <app-nucleo-section></app-nucleo-section>
</section>