  ul {
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  }
  
  h1 {
    color: #607d8b;
    margin: 0 0 10px;;
    padding: 0 0 10px;;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  
  ul li {
    list-style: none;
    position: relative;
    padding: 4px;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  ul li:hover {
    background: #607d8b;
  }
  ul li a {
    color: #262626;
    text-decoration: none;
    display: block;
    padding-left: 80px;
  }
  
  ul li:hover a {
    color: #fff;
  }
  
  .date {
    position: absolute;
    top: 7px;
    left: 6px;
    width: 60px;
    text-align: center;
  }
  
  .date:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 22px solid #e2574c;
    border-bottom: 50px solid #ddd;
    border-radius: 5px;
    z-index: 1;
  }
  
  .date h3 {
    position: relative;
    z-index: 2;
    margin-top: -6px;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
  }
  
  .date h3 span {
    font-size: 36px;
    color: #324d5b;
  }
  
  p {
    font-size: 18px;
  }

  .disable-selection {
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
 -webkit-user-select: none; /* Chrome, Safari, and Opera */
 -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}