<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/logo_movil.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Nuestros Servicios</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['outsourcing']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                  <i class="bi bi-check2-square"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-danger mb-md-1">Reclutamiento y Selección</h6>
                  <p class="description d-none d-md-inline-block mb-0">Facilitamos el contacto óptimo con profesionales idóneos a tus requerimientos y necesidades empresariales.</p>
                </div>
              </a>
              <a routerLinkActive="active" href="https://okempleos.com/" target="_blank" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-orange rounded-circle text-white">
                  <i class="bi bi-display"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-warning mb-md-1">Portal de Empleo / Ok Empleos</h6>
                  <p class="description d-none d-md-inline-block mb-0">Robusta plataforma web para la consecución de candidatos en un proceso de selección.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['outsourcing']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-info rounded-circle text-white">
                  <i class="bi bi-person-check"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-info mb-md-1">Head Hunter</h5>
                  <p class="description d-none d-md-inline-block mb-0">Optimiza de manera digital tus procesos de selección en nuestra plataforma.</p>
                </div>
              </a>
              <a routerLinkActive="active" href="https://grupops.com.co/" target="blank" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="bi bi-hourglass-split"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Temporalidad</h6>
                  <p class="description d-none d-md-inline-block mb-0">Facilitamos el contacto óptimo con profesionales idóneos a tus requerimientos y necesidades empresariales.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Outsourcing</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['outsourcing']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                  <i class="bi bi-person-badge"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-danger mb-md-1">Selección</h6>
                  <p class="description d-none d-md-inline-block mb-0">Facilitamos el contacto óptimo con profesionales idóneos a tus requerimientos y necesidades empresariales.</p>
                </div>
              </a>
              <a routerLinkActive="active" href="https://espacioseguro.co/" target="blank" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-orange rounded-circle text-white">
                  <i class="bi bi-building"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-warning mb-md-1">Aseo</h6>
                  <p class="description d-none d-md-inline-block mb-0">Somos una empresa integral de servicios a nivel nacional y orientada a los sectores residencial, industrial y empresarial con la calidad y el profesionalismo adecuados para hacer de sus áreas de trabajo y zonas comunes espacios ideales y totalmente limpios y seguros.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Candidatos</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" href="https://okempleos.com/" target="blank" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                  <i class="bi bi-file-text"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-danger mb-md-1">Registrar HV</h6>
                  <p class="description d-none d-md-inline-block mb-0">Buscando trabajo? Registra GRATIS tu hoja de vida y encuentra aquí miles de ofertas laborales que se ajustan a tu perfil. ¡Postúlate ahora!</p>
                </div>
              </a>
              <a  routerLinkActive="active" [routerLink]="['vacantes']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-orange rounded-circle text-white">
                  <i class="bi bi-receipt-cutoff"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-warning mb-md-1">Vacantes</h6>
                  <p class="description d-none d-md-inline-block mb-0">Encuentra las mejores ofertas laborales en nuestra plataforma ...</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Contáctanos</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['eventos']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-danger rounded-circle text-white">
                  <i class="bi bi-calendar-event"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-danger mb-md-1">Eventos</h6>
                  <p class="description d-none d-md-inline-block mb-0">Accede a las noticias de Feria de empleo y servicios que Ok Empleos tiene para ti. Conoce sus eventos y demás información ¡Únete!.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['contacto']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-orange rounded-circle text-white">
                  <i class="bi bi-person-rolodex"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-warning mb-md-1">Conócenos</h6>
                  <p class="description d-none d-md-inline-block mb-0">Busque trabajo en el portal de empleo líder en Colombia. Las mejores empresas publican ofertas cada día. ¡Ingrese su hoja de vida y aplique ya a las nuevas vacantes!</p>
                </div>
              </a>
            </div>
          </div>
        </li> 
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">        
        <li class="nav-item d-none d-lg-block ml-lg-4 button button3">
          <a href="https://citylending.gesth.co/login/" target="_blank" class="btn btn-neutral btn-icon text-danger">           
            <span class="nav-link-inner--text">GESTH 360</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
