.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #ff2c2c;
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

$color: #232323;

.wrap{
padding:2.5em;
text-align:center;
}

.button{
display:inline-block;
font-size:1.2em;
padding:1.2em 1.5em;   
font-weight:500;
letter-spacing:-1px;
text-transform:uppercase;
text-decoration:none;
margin:3em;  
color:$color;
border-radius:0.4em;
transition:all 0.3s linear;
animation-iteration-count: infinite;

&:hover{
  color:#ffffff;
  background:$color;
  animation:none;
}
}

.button3{
 animation-duration: 1.5s;
 animation-name: shrink;
}

@keyframes pulse {
0% {
  opacity:1;
}

50% {
  opacity:0.5;
  box-shadow:0px 0px 5px 0px $color;
}

100%{
  opacity:1;
  box-shadow:none;
}
}

@keyframes shaker {
0% {
  transform:rotate(0deg);
}

29% {
  transform:rotate(0deg);
}


30% {
  transform:rotate(1deg);
}

31% {
  transform:rotate(2deg);
}

33% {
  transform:rotate(1deg);
}

35% {
  transform:rotate(0deg);
}

37% {
  transform:rotate(-1deg);
}

39% {
  transform:rotate(-2deg);
}

41% {
  transform:rotate(-1deg);
}

43% {
  transform:rotate(0deg);
}


45% {
  transform:rotate(1deg);
}

47% {
  transform:rotate(2deg);
}

49% {
  transform:rotate(1deg);
}

51% {
  transform:rotate(0deg);
}

53% {
  transform:rotate(-1deg);
}

55% {
  transform:rotate(-2deg);
}

57% {
  transform:rotate(-1deg);
}

59% {
  transform:rotate(0deg);
}


100%{
  transform:rotate(0deg);
}
}

@keyframes shrink {
0% {
  transform: scaleY(1);
}

49% {
  transform: scale(0.97, 0.97);
}

100% {
  transform: scaleY(1);
}

}

@keyframes jump {
0% {
  transform: scale(1,1) translate(0px, 0px);
}

30%{
  transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
  transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
  transform: scale(1,1) translate(0px, 0px);
}

}

/* Landscape phones and down */
@media (max-width: 480px) {
.button{
  display:inline-block;
  font-size:1em;
  padding:1.2em 1.5em;   
  font-weight:500;
  letter-spacing:-1px;
  text-transform:uppercase;
  text-decoration:none;
  margin:3em;  
  color:$color;
  border-radius:0.4em;
  transition:all 0.3s linear;
  animation-iteration-count: infinite;
  margin: 0 auto;
  
  &:hover{
    color:#ffffff;
    background:$color;
    animation:none;
  }
}

.button3{
   animation-duration: 1.5s;
   animation-name: shrink;
}
}