<main class="justify-content-center">
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250" style="background-image: url(./assets/img/brand/business.jpeg); background-size: cover; width: 100%; height: 100%;">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 text-center">                            
              <h3 class="text-white text-center"><span style="font-size: 43px; font-weight: 400;">OUTSOURCING DE SELECCIÓN</span><br><br>Facilitamos el contacto óptimo con profesionales idóneos a tus requerimientos y necesidades empresariales.</h3>              
              <div class="btn-wrapper">
                <a href="https://wa.link/n32gaz" target="blank" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0 button button3">                  
                  <span class="btn-inner--text">¡TE DAMOS LA BIENVENIDA A GESTH360!</span>
                </a>              
              </div>            
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg section-shaped">
    <div class="shape shape-style-1">
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ffb5b59a;"></span>
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ff2c2c;"></span>
    </div>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/brand/gesth360.png" class="img-fluid floating rounded">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <h2>Tal como lo imaginabas: <strong>Simple</strong></h2>
            <p style="font-size: 18px;">Innovamos tus procesos de selección conectándolos con la tecnología de nuestra plataforma virtual GESTH360, la cual genera mayor efectividad para tu empresa.</p>
            <h4>Esto es lo que podrás optimizar:</h4>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h5 class="mb-0" style="font-size: 20px;">Requisiciones en línea</h5>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0" style="font-size: 20px;">Perfil exclusivo del cliente</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h5 class="mb-0" style="font-size: 20px;">Trazabilidad del proceso</h5>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h5 class="mb-0" style="font-size: 20px;">Administración de documentos de candidatos</h5>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h5 class="mb-0" style="font-size: 20px;">Conoce los procesos de selección en tiempo real</h5>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    
  </section>
  <section class="section section-shaped">
    <div class="shape shape-style-1">
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ffb5b59a;"></span>
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ff2c2c;"></span>
      <span style="background: #ff2c2c;"></span>
    </div>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Costo por cargo contratado</h6>
                  <p class="description mt-3">El cliente paga únicamente por el candidato elegido un porcentaje del salario mensual o pago del cargo.
                    El porcentaje varía de acuerdo con el perfil.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">angular</span>
                    <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                    <span class="badge badge-pill badge-primary">creative</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Leer más</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Fee mensual</h6>
                  <p class="description mt-3">GESTH cubre de manera periódica el número de vacantes acordado en tiempos establecidos.
                    Esta opción beneficia a empresas con rotaciones mensuales promedio.
                    Negociación sujeta a número de posiciones y perfiles.</p>
                  <div>
                    <span class="badge badge-pill badge-success">business</span>
                    <span class="badge badge-pill badge-success">vision</span>
                    <span class="badge badge-pill badge-success">success</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-success mt-4">Leer más</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Reclutamiento especializado</h6>
                  <p class="description mt-3">Reclutamos a través de diferentes medios y estrategias los perfiles solicitados filtrando y entregando a cliente el número de hojas de vida acordado.
                    Costo por hoja de vida o paquete negociado.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">marketing</span>
                    <span class="badge badge-pill badge-warning">product</span>
                    <span class="badge badge-pill badge-warning">launch</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Leer más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <section class="section section-lg pt-lg-0 section-contact-us">
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
  </section>
  
 </main>
