<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250" style="background-image: url(./assets/img/brand/fondo.jpeg);">
      <div class="shape shape-style-1 shape-default">
         <img class="bg-img" style="width: 100%; height: 100%; background-size: cover;" src="./assets/img/brand/fondo.jpeg" alt="">
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 text-center">                            
              <h3 class="text-white text-center"><span style="font-size: 35px; font-weight: 400;">¿Buscas el mejor personal para tu equipo de trabajo?</span><br><br> Déjalo en nuestras manos</h3>              
              <div class="btn-wrapper mt-5">
                <a href="https://wa.link/n32gaz" target="blank" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">                  
                  <span class="btn-inner--text">QUIERO MÁS INFORMACIÓN</span>
                </a>               
              </div>       
            </div>
          </div>
        </div>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <app-sections></app-sections>
</main>
