<section class="section-profile-cover section-shaped my-0">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container shape-container d-flex align-items-center py-lg">
    <div class="col px-0">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12 text-center">                            
          <h3 class="text-white mb-4 movil"><span style="font-size: 50px; font-weight: 400;">EVENTOS</span></h3>                               
          <div class="container">
            <div class="row row-grid align-items-center">
              <div class="col-md-5 order-md-2">
                <img src="./assets/img/brand/eventos.jpg" class="img-fluid floating rounded ocultar">
              </div>
              <div class="col-md-7 order-md-1">
                <div class="pr-md-5">                                                      
                  <ul class="list-unstyled mt-5">
                    <li class="py-2">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-white mr-3">
                            <i class="bi bi-check-circle-fill"></i>
                          </div>
                        </div>
                        <div>
                          <h5 class="mb-0" style="color: white; font-size: 20px;">Gestionamos eficientemente sus procesos</h5>
                        </div>
                      </div>
                    </li>
                    <li class="py-2">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-white mr-3">
                            <i class="bi bi-check-circle-fill"></i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-0" style="color: white; font-size: 20px;">Trabajadores cualificados</h6>
                        </div>
                      </div>
                    </li>
                    <li class="py-2">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-white mr-3">
                            <i class="bi bi-check-circle-fill"></i>
                          </div>
                        </div>
                        <div>
                          <h5 class="mb-0" style="color: white; font-size: 20px;">Ahorra hasta un 30% en costes laborales</h5>
                        </div>
                      </div>
                    </li>                                  
                  </ul>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-angular-section></app-angular-section>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>

<section class="section bg-white">
  <div class="container">
    <div class="row justify-content-center text-center mb-lg">
      <div class="col-lg-8">
        <h2 class="display-3">Ferias Virtuales y Capacitación</h2>
        <p class="lead text-muted">Nuestras ferias presenciales y virtuales comprenden capacitaciones en el campo del talento humano dirigido a empresas y candidatos.</p>
      
      </div>      
                   <!-- Sección del video -->
                   <div class="col-lg-12 mb-lg-auto p-1">
                    <div class="rounded shadow-lg overflow-hidden">
                      <div class="image-video-wrp">                    
                   <video src="./assets/video/eventos.mp4" width="100%" height="100%" autoplay [muted]="'muted'" loop></video>
                    </div>
                    </div>
                  </div>        
    </div>      
  </div>
  
  <div class="container">    
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!-- Tabs with icons -->
        <div class="mb-3 text-center">
          <small class="text-uppercase font-weight-bold">Ferias Presenciales</small>
        </div>
        <div class="custom-tab-content flex-column flex-md-row">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active1" class="nav nav-pills justify-content-center" type="pills">
            <li class="nav-item" [ngbNavItem]="1">
              <a class="nav-link" ngbNavLink><i class="ni ni-cloud-upload-96 mr-2"></i> Inteligencia financiera</a>
              <ng-template ngbNavContent>
                <div class="tab-content">
                  <p class="description">Incentivar la inteligencia financiera en el equipo de trabajo o contar con personal con esta habilidad es importante, 
                    ya que tendrán capacidad de  detectar oportunidades o fuentes que permitirán maximizar los recursos en pro de toda la organización y sus integrantes.</p>
                    <a href="https://www.youtube.com/watch?v=0px142TdXxI" target="_blank">Ver charla</a>        
                </div>
              </ng-template>
            </li>
            <li class="nav-item" [ngbNavItem]="2">
              <a class="nav-link" ngbNavLink>
                <i class="ni ni-bell-55 mr-2"></i> Fondos
              </a>
              <ng-template ngbNavContent>
                <div class="tab-content">
                  <p class="description">Regístrate gratis para capacitarte en los beneficios de crear o implementar los fondos de empleados en su organización 
                    y aprende más sobre la economía solidaria.</p>
                    <a href="https://www.youtube.com/watch?v=5jPVbvDugb0" target="_blank">Ver charla</a>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" [ngbNavItem]="3">
              <a class="nav-link" ngbNavLink>
                <i class="ni ni-calendar-grid-58 mr-2"></i> Baterías
              </a>
              <ng-template ngbNavContent>
                <div class="tab-content">
                  <p class="description">El éxito de toda compañía está en la calidad de su equipo de trabajo, descubre como puedes evitar los riesgos psicosociales 
                    en los trabajadores y así tener colaboradores de alto valor que son garantía de una senda de crecimiento permanente.</p>
                    <a href="https://www.youtube.com/watch?v=AXj0Tb_xnVI" target="_blank">Ver charla</a>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
  
        <div [ngbNavOutlet]="nav" class="custom-tab-content"></div>
      </div>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <!-- Menu -->
        <div class="mb-3 text-center">
          <small class="text-uppercase font-weight-bold">Ferias Virtuales</small>
        </div>
        <div class="custom-tab-content flex-column flex-md-row">
          <ul ngbNav #nav1="ngbNav" [(activeId)]="active" class="nav nav-pills justify-content-center" type="pills">
            <li class="nav-item" [ngbNavItem]="1">
              <a class="nav-link" ngbNavLink> Habilidades blandas</a>
              <ng-template ngbNavContent>
                <div class="tab-content">
                  <p class="description">Involucrar y darle valor a las habilidades blandas en el proceso de selección de personal, ha tomado más fuerza a nivel empresarial, 
                    debido a que se busca identificar el talento humano que se ajuste al cargo y al clima organizacional, lo que conllevara a un buen rendimiento laboral.</p>
                    <a href="https://www.youtube.com/watch?v=pneLydF2YhU" target="_blank">Ver charla</a>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" [ngbNavItem]="2">
              <a class="nav-link" ngbNavLink>
                Optimización digital
              </a>
              <ng-template ngbNavContent>
                <div class="tab-content">
                  <p class="description">En nuestra charla empresarial aprendas sobre la optimización digital para las compañías, ya que el 58% de empresarios Colombianos 
                    han adoptado estrategias para migrar sus negocios de un modelo tradicional al digital y así avanzar en el mercado y ser competitivo.</p>
                    <a href="https://www.youtube.com/watch?v=fyX-ZfbG1lA" target="_blank">Ver charla</a>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" [ngbNavItem]="3">
              <a class="nav-link" ngbNavLink>
                Hábitos
              </a>
              <ng-template ngbNavContent>
                <div class="tab-content">
                  <p class="description">En nuestra charla gratuita aprenderás sobre los hábitos saludables en la oficina para mantener un equipo de trabajo sano, lo que conllevara 
                    a que los colaboradores se centren con mejor eficiencia al cumplimiento de metas, ya que se sentirán bien en su trabajo y generara un ambiente laboral apropiado 
                    y estimulara el sentido de pertenencia hacia la compañía.</p>
                    <a href="https://www.youtube.com/watch?v=UHjUk6xnvuU" target="_blank">Ver charla</a>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div [ngbNavOutlet]="nav1" class="custom-tab-content"></div>
      </div>
    </div>  
  </div>


  
    
</section>
