<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/home' && getPath()!=='/capacitaciones' && getPath()!=='/outsourcing' && getPath()!=='/contacto' && getPath()!=='/vacantes'}">
  <div class="mb-4 container container-lg" *ngIf="getPath()!=='/home' && getPath()!=='/capacitaciones' && getPath()!=='/outsourcing' && getPath()!=='/contacto' && getPath()!=='/vacantes'">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/landing']" title="Landing Page">
            <img src="./assets/img/brand/gesthuno.jpeg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/user-profile']" title="Profile Page">
            <img src="./assets/img/brand/gesthdos.jpg" class="card-img">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">¡Gracias por apoyarnos!</h3>        
        <h4 class="mb-0 font-weight-light">(+57) 3227868610 - (601) 7457234<br> Cra. 20B#77-05, Bogotá DC</h4>           
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <h5 class="mt-3 text-center">SÍGUENOS</h5>
        <a target="_blank" href="https://twitter.com/ok_empleos" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="twitter">
          <i class="bi bi-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/OkEmpleosColombia" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="facebook">
          <i class="bi bi-facebook"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/c/OkEmpleos" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="youtube">
          <i class="bi bi-youtube"></i>
        </a>
        <a target="_blank" href="https://www.tiktok.com/@en.modo.ok?" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="tiktok">
          <i class="bi bi-tiktok"></i>
        </a>
      </div>
    </div>
    <hr>
  </div>
   <!-- Sección SPE -->    
  <div class="container">
    <div class="row row-grid align-items-center">
      <img src="./assets/img/brand/spe.png" alt="" style="width: 360px; height: 75px;">           
      <div class="col-lg-6 text-lg-center btn-wrapper mt-400">
        <h6 class="text-center">Estamos vinculados a la red prestadora de Servicio Público de empleo y autorizados por la Unidad Administrativa Especial del Servicio Público de Empleo.</h6>      
      </div>
    </div>   
  </div><br><br>
  <div class="text-center">
    <div class="copyright">
      &copy; {{test | date: 'yyyy'}}
      <a href="https://gesth.co/">Gesth S.A.S</a>.
    </div>
  </div>
</footer>